.test {
    text-align: center;
    margin-top: 200px;
    margin-left: 540px;
    margin-right: 540px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #797979;
    border-radius: 8px;

}

.test p {
    font-size: 18px;
}

.test a {
    text-decoration: none;
    font-size: 18px;
}